<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <description> </description>
        <display-name>MessageFilter</display-name>
        <filter-name>MessageFilter</filter-name>
        <filter-class>com.filter.MessageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MessageFilter</filter-name>
        <url-pattern>/restreint/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MessageFilter</filter-name>
        <url-pattern>/MessageFilter</url-pattern>
    </filter-mapping>
    <servlet>
        <display-name>Init</display-name>
        <servlet-name>Init</servlet-name>
        <servlet-class>com.tp.Init</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>Stockage</display-name>
        <servlet-name>Stockage</servlet-name>
        <servlet-class>com.tp.Stockage</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>Message</display-name>
        <servlet-name>Message</servlet-name>
        <servlet-class>com.tp.Message</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>Affichage</display-name>
        <servlet-name>Affichage</servlet-name>
        <servlet-class>com.tp.Affichage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Init</servlet-name>
        <url-pattern>/Init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stockage</servlet-name>
        <url-pattern>/Stockage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Affichage</servlet-name>
        <url-pattern>/Affichage</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>backoffice</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>backoffice</servlet-name>
        <url-pattern>/backoffice/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error/error404.jsp</location>
    </error-page>
</web-app>
